.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: lightgrey;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form .header-form {
	background-color: blue;
}
